#mySideNav {
    position: absolute; /* começa visível */
    display: block;
    height: 93%; 
    width: 30%; 
    overflow: auto; 
    opacity: 0.75;
}

.myFooter {
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    height: 7%; 
    opacity: 0.75;
}

#openNavButton {
    position: absolute; 
    display: none; /* começa invisível */
}