version: '3'
services:
  
  crud-pedestrian:
    image: crud-pedestrian
    build: container-CRUD-pedestrian/ # caso a imagem n達o exista, instala a partir desta diretoria
    ports:
      - "5000:5000"
    links: 
      - redis-crud-pedestrian
  redis-crud-pedestrian:
    image: "redis:alpine"


  crud-vehicle:
    image: crud-vehicle
    build: container-CRUD-vehicle/ # caso a imagem n達o exista, instala a partir desta diretoria
    ports:
      - "5001:5001"
    links:
      - redis-crud-vehicle
  redis-crud-vehicle:
    image: "redis:alpine"

  crud-crosswalk-location:
    image: crud-crosswalk-location
    build: container-CRUD-crosswalk-location/ # caso a imagem n達o exista, instala a partir desta diretoria
    ports:
      - "5002:5002"
    links: 
        - postgres-crud-crosswalk-location
  postgres-crud-crosswalk-location:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: password


  read-traffic-light:
    image: read-traffic-light
    build: container-read-traffic-light/ # caso a imagem n達o exista, instala a partir desta diretoria
    ports:
      - "5003:5003"
    links:
      - redis-read-traffic-light
  redis-read-traffic-light:
    image: "redis:alpine"
